



<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
   
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

        

        <h4 class="name">Admin</h4>
        
        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <mat-icon>home</mat-icon>
            <a class="nav-link" routerLink="">Home</a>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>person</mat-icon>
            <a class="nav-link" routerLink="">Trainer Profile</a>
        </button>

        <button mat-button class="menu-button">
            <mat-icon>mail</mat-icon>
            <a class="nav-link" routerLink="requests">Requests</a>
        </button>

        <button mat-button class="menu-button">
            <mat-icon>supervisor_account</mat-icon>
            <a class="nav-link" routerLink="">Trainer Allocation</a>

        </button><button mat-button class="menu-button">
            <mat-icon>calendar_today</mat-icon>
            <a class="nav-link" routerLink="calendar">Calendar</a>
        </button>
    <button mat-button class="menu-button">
        <mat-icon>power_settings_new</mat-icon>
        <a class="nav-link" routerLink="">Logout</a>
    </button>


        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <mat-icon>help</mat-icon>
            <span>Help</span>
        </button>

    </mat-sidenav>
    <mat-sidenav-content>
        
            <div class="container">
      
              <div class="row content">
                <div class="col-md-4" data-aos="fade-right">
                  <img src="assets/images/details-1.png" class="img-fluid" alt="" style="height: 20%; width: 80%;">
                </div>
                <div class="col-md-8 pt-4" data-aos="fade-up">
                  <h2>Welcome to Trainer Management System of ICT</h2>
                  <p class="fst-italic">
                    Trainers of ICT kerala help approximately one lakh students to get a promising career every year. You too can join them.Other perks include
                  </p>
                  <ul>
                    <li><i class="bi bi-check"></i> Lifetime membership and access to study materials</li>
                    <li><i class="bi bi-check"></i> Attend international seminars and workshops</li>
                    <li><i class="bi bi-check"></i> Join expert sessions on latest cutting edge technologies</li>
                    <li><i class="bi bi-check"></i> Solve puzzles and get hands on expertize in trending technologies </li>
                  </ul>
                  <p>
                    If this excites you, then please join our team by filling the enrolement form and we will reach out to you
                  </p>
                </div>
              </div>
            </div>

            <div class="row content">
                <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
                  <img src="assets/images/details-2.png" class="img-fluid" alt="" style="height: 40%; width: 90%;">
                </div>
                <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
                  <h3>Get frequent notifications over mail on new courses and batches</h3>
                  <p class="fst-italic">
                   Once you join our team,you will get notified on various courses and batches and other events on you email.
                  </p>
                  <p>
                    Email will be primary mode of communication for trainers.They will be notified of the courses and batches they got allocated toand the time slots for each of them.
                    Please check your mails regularly so that you will not miss any of the updates.
                  </p>
                  <p>
                    Also for trainers, there is an mobile app developed by ICT Kerala through which you will get all the necessary informations like batches,courses,expert sessions and you can access the learning materials through the app as well.
                  </p>
                </div>
              </div>
           
    
    </mat-sidenav-content>
</mat-sidenav-container>
